<div>
    <h1>Tic - Tac - Toe</h1>
    <div class="parent">
        <div class="div1"> 
            <button mat-raised-button >1</button>
        </div>
        <div class="div2"> 
            <button mat-raised-button >2</button>
        </div>
        <div class="div3">
            <button mat-raised-button >3</button>
        </div>
        <div class="div4"> 
            <button mat-raised-button >4</button>
        </div>
        <div class="div5"> 
            <P>X</P>
            <button mat-raised-button >5</button>
        </div>
        <div class="div6"> 
            <button mat-raised-button >6</button>
        </div>
        <div class="div7"> 
            <button mat-raised-button >7</button>
        </div>
        <div class="div8"> 
            <button mat-raised-button >8</button>
        </div>
        <div class="div9"> 
            <button mat-raised-button >9</button>
        </div>
    </div>
    <b>
        <p></p>
    </b>
    <div class="bottom">
        <button mat-raised-button >Restart</button>
    </div>
</div>