body {
    background-color: rgb(8, 71, 58);
    margin: 0; 
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

h1 {
  background-color: rgb(19, 156, 127);
  align-items: center;
  justify-content: center;
  text-align: center;
  }

.bottom {
  background-color: rgb(19, 156, 127);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
